//Variables
$primary-color-dark:   #0097A7;
$primary-color:        #00BCD4;
$primary-color-light:  #B2EBF2;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$card-color:           #E7E7EB;
$near-black:           #2F2F2F;

//mixins
@mixin transition-mix($aspects, $speed, $style) {
  -webkit-transition: $aspects $speed $style;
  -moz-transition: $aspects $speed $style;
  -o-transition: $aspects $speed $style;
  transition: $aspects $speed $style;
}

@mixin transition-delay-mix($length) {
  -webkit-transition-delay: $length;
  -moz-transition-delay: $length;
  -o-transition-delay: $length;
  transition-delay: $length;
}

body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
  font-size: 1.1em;
  background-color: $primary-color-text;
}

h1 {
  text-align: center;
  font-family: Helvetica;
}

h3 {
  font-family: Helvetica;
}

li {
  text-align: left;
}

#topPanel {
  position: relative;
  z-index: 3;
  box-shadow: 5px 5px 3px #888888;
  //width: 100%;
  text-align: left;
  background-color: $near-black;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0em;

  ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    width: 80%;
  }

  li {
    float: left;
    text-align: center;
    width: 25%;

    a {
      text-decoration: none;
    }
  }

#header {
  display: flex;
  align-items: center;

  h3 {
    font-family: Helvetica;
    color: $accent-color;
  }

  h1 {
    font-family: Helvetica;
    color: $accent-color;
    text-align: left;
  }

  @media (max-width: 70em){
    ul {
      display: none;
      flex: 3 1;
    }
  }

  #menu-icon {
    flex: 2 1;
    width: 4em;
    height: 4em;
  }

  #logo {
    flex: 1 1 40%;
    width: 6em;
    height: 5em;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
  }

  #h1 {
    flex: 2 1;
  }
}

  a {
    @include transition-mix(color, 0.2s, ease-in);
    color: #FEFEFE;
    font-size: 125%;
  }

  a:hover {
    color: $accent-color;
  }

  a:active {
    color: $accent-color;
  } 
}

p {
  text-align: left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


hr {
  width: 80%;
  color: $primary-color-dark;
  border-style: solid;
  margin-bottom: 1em;
}

#mainContent {
  display: -webkit-flex;
  display: flex;
  //-webkit-justify-content: center;
  //justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#self-container {
  text-align: center;
  background: $card-color;
  flex: 3 1 90%;
  display: flex;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  #self-profile {
    flex: 1 1 auto;
    width: 30%;
    min-width: 20%
  }

  #self-summary {
    flex: 2 1 auto;
    width: 60%;
    align-self: center;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
  }

  h3,p {
    color: $primary-text-color;
  }
}

.full-width-item {
  flex: 3 1 90%;
}

#services-title {
  background-color: $primary-color;
  padding-top: 0em;
  padding-bottom: 0em;

  h1 {
    color: $primary-color-text;
  }
}

.image-cropper {
  border-style: solid;
  border-width: 0.3em;
  border-color: $primary-color-dark;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.image-cropper img {
    display: inline;
    position: absolute;
    top: -15%;
    right:-10%;
    height: 150%;
    width: auto;
}

#footer {
  position: relative;
  z-index: 3;
  background: $primary-text-color;
  width: 100%;
  position: relative;
}

#footer-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  list-style: none;
  color: #FEFEFE;
  width: 70%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#footer-list-1 {
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 1;
}

#footer-list-2 {
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 2;
}

#footer-list-3 {
  justify-self: center;
  grid-column-start: 3;
  grid-column-end: 3;
}

.card {
  color: $primary-text-color;
  text-align: center;
  background: $card-color;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 1em;
  padding-bottom: 3em;
  box-shadow: 7px 7px 3px #888888;
  @include transition-mix(all, 0.2s, ease-out);
}

.service-item {
  flex: 1 1 30%;
  position: relative;
  img {
    @include transition-mix(all, 0.4s, ease-out);
    @include transition-delay-mix(0.1s);
    position: absolute;
    bottom: 0%;
    right: -webkit-calc(50% - 2em);
    right:    -moz-calc(50% - 2em);
    right:         calc(50% - 2em);
    width: 4em;
  }

  &:hover {
    img {
      transform: translate(0em, 0.5em);
    }
  }
}

.upside-down {
  img {
    -ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
  }
  &:hover {
    img {
      transform: translate(0em, 0.5em);
      -ms-transform: rotate(180deg); 
      -webkit-transform: rotate(180deg); 
      transform: rotate(180deg);
    }
  }
}


//blog
.blog-post {
  padding-left: 4em;
  padding-right: 4em;

  hr {
    width: 100%;
  }

  h4 {
    text-align: left;
    font-style: italic;
  }

  p {
    width: 100%;
  }
}

//contact info

#contact {
  width: 100%;
}

#map {
  width: 100%;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  
  iframe {
    width: 98%;
    height: 25em;
    border-style: none;
  }
}


.info-transition {
  @include transition-mix(all, 0.4s, ease-out);
  overflow: hidden;
}

.expanded-info-closed {
  opacity: 0;
  max-height: 0;
}

.expanded-info-open {
  opacity: 100;
  max-height: 500px;
}

@media (min-width: 70em) {
  #mainContent {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  #self-container {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  #self-summary {
    width: 90%;
  }

  #header {
    ul {
      display: inline-block;
    }

    #menu-icon {
      display: none;
      flex: 4 1;
    }

    #logo {
      flex: 1 1;
      width: 15%;
      float: left;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
