{% extends "home.html" %}

{% block body %}

<main class="mdl-layout__content mdl-color--grey-100">
 <div class="mdl-grid">

     <div class="item-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
      <div class="mdl-card__title" style="background: url('static/images/ps4.jpg') center / cover;">
         <h2 class="mdl-card__title-text">PS4</h2>
      </div>
      <div class="mdl-card__supporting-text">
         Good condition, my mom is making me sell it because of my grades.
      </div>
      <div class="mdl-card__actions mdl-card--border">
         <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
           Buy
         </a>
      </div>
      <div class="mdl-card__menu">
         <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
           <i class="material-icons">share</i>
         </button>
      </div>
     </div>

     <div class="item-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
      <div class="mdl-card__title" style="background: url('static/images/tickets.JPG') center / cover;">
         <h2 class="mdl-card__title-text">Kanye Tickets</h2>
      </div>
      <div class="mdl-card__supporting-text">
         Two tickets to the kanye concert this thursday in greensboro
      </div>
      <div class="mdl-card__actions mdl-card--border">
         <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
           Buy
         </a>
      </div>
      <div class="mdl-card__menu">
         <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
           <i class="material-icons">share</i>
         </button>
      </div>
     </div>

     <div class="item-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
      <div class="mdl-card__title" style="background: url('static/images/physics.JPG') center / cover;">
         <h2 class="mdl-card__title-text">Physics101</h2>
      </div>
      <div class="mdl-card__supporting-text">
         This class was the worst, will throw in notes for an extra $5
      </div>
      <div class="mdl-card__actions mdl-card--border">
         <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
           Buy
         </a>
      </div>
      <div class="mdl-card__menu">
         <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
           <i class="material-icons">share</i>
         </button>
      </div>
     </div>

     <div class="item-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
      <div class="mdl-card__title" style="background: url('static/images/yeezys.JPG') center / cover;">
         <h2 class="mdl-card__title-text">Yeezy Boost 350</h2>
      </div>
      <div class="mdl-card__supporting-text">
         Not worn, in box. Looking for a wavy home to go to.
      </div>
      <div class="mdl-card__actions mdl-card--border">
         <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
           Buy
         </a>
      </div>
      <div class="mdl-card__menu">
         <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
           <i class="material-icons">share</i>
         </button>
      </div>
     </div>

 </div>
</main>

{% endblock %}
